<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dshare">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dshare">
        <activity
            android:name=".Ride_details"
            android:exported="true" />
        <activity
            android:name=".Vehcile_details"
            android:exported="true" />
        <activity
            android:name=".LocationPicker_2"
            android:exported="true" />
        <activity
            android:name=".MainActivity2"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity
            android:name=".LocationPicker"
            android:exported="false">
            />
        </activity>
        <activity
            android:name=".UserProfile"
            android:exported="true" />
        <activity
            android:name=".Schedulerides"
            android:exported="true" />
        <activity
            android:name=".Selecttime"
            android:exported="true" />
        <activity
            android:name=".Selectdate"
            android:exported="true" />
        <activity
            android:name=".Userscreen1"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Dshare.NoActionbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>